// TOTEM

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        hml_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };

        hml_space {
            bindings = <&kp SPACE>;
            key-positions = <12 13>;
        };

        hmr_enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
        };

        hmr_bkspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        f_ctrl {
            bindings = <&mt LCTRL F>;
            key-positions = <13 12>;
        };

        j_ctrl {
            bindings = <&mt LCTRL J>;
            key-positions = <16 17>;
        };

        d_lshift {
            bindings = <&mt LSHFT D>;
            key-positions = <12 13>;
        };

        k_rhisft {
            bindings = <&mt RSHIFT K>;
            key-positions = <17 16>;
        };

        hml_tab {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
       &kp Q  &kp W  &kp E      &kp R         &kp T          &kp Y      &kp U          &kp I                &kp O                    &kp P
       &kp A  &kp S  &kp D      &kp F         &kp G          &kp H      &kp J          &kp K                &kp L                    &mt COLON SEMICOLON
&to 2  &kp Z  &kp X  &kp C      &kp V         &kp B          &kp N      &kp M          &mt LESS_THAN COMMA  &mt GREATER_THAN PERIOD  &mt QUESTION SLASH   &to 1
                     &kp LCTRL  &kp LEFT_ALT  &lt 2 SPACE    &lt 1 RET  &kp BACKSPACE  &mt RCTRL DELETE
            >;
        };

        nav_layer {
            label = "NAVI";
            bindings = <
       &mt TILDE GRAVE  &mt AMPERSAND KP_NUMBER_7    &mt ASTERISK KP_NUMBER_8  &kp N9                 &kp LBRC     &kp RBRC   &mt UNDERSCORE MINUS  &mt PLUS EQUAL  &trans           &kp PIPE
       &kp TAB          &mt DOLLAR KP_NUMBER_4       &mt PERCENT KP_NUMBER_5   &mt CARET KP_NUMBER_6  &kp LBKT     &kp RBKT   &kp LEFT_ARROW        &kp UP_ARROW    &kp RIGHT_ARROW  &kp BACKSLASH
&to 0  &trans           &mt EXCLAMATION KP_NUMBER_1  &mt AT_SIGN KP_NUMBER_2   &mt HASH KP_NUMBER_3   &kp LPAR     &kp RPAR   &kp KP_N1             &kp DOWN_ARROW  &trans           &trans         &to 2
                                                     &kp KP_NUMBER_0           &kp RA(RC(DELETE))     &kp SPACE    &kp ENTER  &trans                &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
       &sys_reset   &bt BT_CLR_ALL  &out OUT_TOG       &bt BT_PRV       &bt BT_NXT              &trans  &kp F9  &kp F10  &kp F11  &kp F12
       &bootloader  &kp K_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC    &trans  &kp F5  &kp F6   &kp F7   &kp F8
&to 1  &trans       &kp K_PREV      &kp K_PLAY_PAUSE   &kp K_NEXT       &kp C_BRIGHTNESS_DEC    &trans  &kp F1  &kp F2   &kp F3   &kp F4   &to 0
                                    &kp LCTRL          &kp LEFT_ALT     &trans                  &trans  &trans  &trans
            >;
        };
    };
};
